<html>
    <head>
        <title>ConvertMyMoney</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" >
        
    </head>
    <body>
        <h1><a class="link" href="/" >Convert my money</a></h1>

