<%- include('header')%>

  

  <form method="GET" action="/cotacao">
    
    <input name="cotacao" placeholder="Cotação do dolar" value="<%= cotacao %>">
    <input name="quantidade" placeholder="Valor em Real">
  </br>
    <button  >Converter</button>
  </form>

<%- include('footer')%>