body {

text-align: center;
height: 80px;
background: #F0F8FF;
padding:200px;

}

.link {
 text-decoration: none;
 color: #1f1300;
}
input{
    border: 1px solid #000000;
    background: #fdfdfd;
    font-size: 22px;
    padding: 10px;
    margin: 4px;

}
button{
    font-size: 20px;
    padding: 10px;
    margin:30px;
    background: rgb(66, 184, 221);
}
.result{
   padding:10px;
   border: solid ; 
   margin:50px;
}
.result h1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    

}
